

  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
  * {
      margin: 0px;
      padding: 0px;
    }
    body {
      margin: 0px;
      padding: 0px;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
    }
    .subtitulo{
      color: black;
      font-family: "Inika", serif;
      text-align: center;
      font-size: 25px;
    }
    .faixa{
    padding: 35px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    background-color: #96bf9f2d;
    }
    .faixa p{
    font-family: "Inika", serif;
    font-weight: 700;
    text-align: center;
    font-style: normal;
    }
    .box-itens img{
      width: 400px;
    }
    .background{
    background-color: #1F3925;
    }
  .filtro{
    background-color: #1F3925;
    position: relative;
      height: auto;
      padding-left: 2%;
      padding-right: 1%;
      padding-top:2% ;
      padding-bottom:2%;
  } 
  .filtro p{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: -5%;
    color: aliceblue;
    margin-left: 2%;
  }
  .categorias{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
    
  .filtro img{
    height: auto;
    width:85%;
    
    }
    
  .doacao-container {
      background-color: #1f392545;
      padding: 20px;
      border-radius: 8px;
      }
    .login-container {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      }
    
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    .font-18{
      font-size: 18px;
    }
    .input-group {
      margin-top: 15%;
      margin-bottom: 20px;
    }
    .input-group-ong {
      margin-top: 5%;
      margin-bottom: 20px;
    }

    .margem-fundo{
    padding-left: 10%;
    padding-right: 10%;
    padding-top:5% ;
    background-color: #ccc;

    }
    .input-group input {
      width: 90%;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    .input-group-ong input {
      width: 80%;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    .input-group-ong select {
      background-color: #D9D9D9;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    
    button {
      
      width: 50%;
      text-align: center;
      align-items: center;
      padding: 10px;
      border: none;
      border-radius: 4px;
      background-color: #1F3925;
      color: #fff;
      cursor: pointer;
    }
    

    .form-box{
    background-color: #D9D9D9;
    padding-left: 5%;
    padding-top: 9%;
    padding-bottom:9%;
    padding-right: 5%;
    }
    .form-doacao{
    padding-top: 9%;
    padding-bottom:9%;
    }
  input{
    background-color: #D9D9D9;
    border: none;
  }

  .titulo{
    color: #fff;
  }
  p{
    color: #fff;
    size: 22px;
    text-align: justify;
  }
  .back-whitegreen{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #96bf9f4d;
    }
  .back-green{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #1F3925;
  }

  .back-white{ 
    border-radius: 0 15px 15px 0; 
    background-color: #fff;
  }
  .back-white a{
    display: flex;
    flex-direction: row-reverse;
    font-size: 15px;
  }

  .box-itens {
      flex: 1;
      font-size: 22px;
      background-color: #ccc;
      border-radius: 15px;
      background-color: rgba(0, 0, 0, 0.484);
    }
  .box-itens p{
    padding: 25px;
    font-size: 29px;
    align-items: center;
    text-align: center;
  }

  .itens{
    padding-left:10%;
    padding-right:10%;
    text-align: center;
  }

  .icons {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    background-color: #1F3925;
    padding-left: 5%;
    padding-right: 5%;
    }
  .cont .lados{
    flex: 1;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  }
  @media screen and (min-width: 767px) {
    .nameong{
      color: #fff;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
      width: 50%;
      text-align: justify;
      margin-right: 5%;
    }
    .container-itens{
      display: flex;
      justify-content: space-between;
      padding-left:15%;
      padding-right:15%;
      text-align: center;
    }
    .ong-container{
      display: flex;
      box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
      justify-content: space-between;
      width: 70%;
      background-color: #1F3925;
      border-radius: 15px;
      margin: auto;
      padding-top: 5%;
      padding-bottom: 5%;
    }
    .containerong{
      position: relative; 
      z-index: 2;
      padding-left: 5%;
      padding-right: 15%;
      padding-bottom: 3%;
      padding-top: 3%;
      background-color: #1f392584;
      justify-content: space-between;  
      }
      .picture img {
        max-width: 500px;
        width: 90%;
        
      }
      .lados{
      flex: 1;
      padding: 20px;
      text-align: center;
      align-content: space-around;
      }
      .lados-doacao{
      flex: 1;
      text-align: center;
      }
    .nameong p{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-right: 5%;
      }
      .box-form{
      box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin: auto;
      }
      .box-form img{
        width:auto; 
        height:auto;
      }
    .container-image{
      display: flex;
      justify-content: space-between;
      background-image:  url('assets/voluntarios.png ');
      height: auto; 
      padding-left: 5%;
      padding-top: 9%;
      padding-bottom:9%;
      padding-right: 5%;
      background-repeat: no-repeat;
    }
    .container-itens{
      text-align: center;
    }
    .containerong-item{
      display: flex;
      padding: 2%;
    }
    .green {
      display: flex;
      justify-content: space-between;
      background-color: #1F3925;
      padding-left: 5%;
      padding-top: 9%;
      padding-bottom:9%;
      padding-right: 5%;
    }
    .cont {
      font-size: 18px;
      display: flex;
      justify-content: space-between;
      background-color: #1F3925;
      padding-left: 5%;
      padding-right: 5%;
      }
      .nameong{
      color: #fff;
      text-align: center;
      align-content:space-around;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 26px;
      text-align: justify;
    }
  .box {
      flex: 1;
      font-size: 22px;
      background-color: #ccc;
      padding: 20px;
      margin: 0 30px; 
      background-color: rgba(0, 0, 0, 0.484);
    }
  }

  .fundoWood {
     background-image:  url('assets/floresta.png');
      height: 700px;
      width: 100%;
    }

    .fundoWood .frase{
    padding: 5%;
    text-align: justify;
    width: 50%;
   padding-top: 15%;
    
  }
    .background-image {
      width: 100%; 
      height: auto; 
      display: block;
    }
    
  .menu {
    display: none;
  }

  .menu ul {
    background-color: #1F3925;
    list-style-type: none;
    padding: 0;
  }

  .menu ul li {
    padding: 10px;
  }

  .menu ul li a {
    text-decoration: none;
  
    color:#fff;
  }

  .menu-toggle {
    display: flex; 
  align-items: center;
    
    background-color: #1F3925;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  .menu-toggle .right{
    margin-left: auto;
    text-align: right;
  }

  .custom-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    background-color: #f9f9f9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23999' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
  }
  
  .custom-select:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
  }
  .menu-toggle .left{
    text-align: left;
  }

  @media screen and (max-width: 768px) {
    .cont {
      font-size: 18px;
      justify-content: space-between;
      background-color: #1F3925;
      padding-left: 5%;
      padding-right: 5%;
      }
      .input-group input {
        width: 90%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
      }
      .lados-doacao{
        text-align: center;
        }
      .lados{
      
        text-align: center;
        }
        .container-itens{
      
          text-align: center;
        }
        .container-itens .lados{
          padding: 5%;
        }
      .containerong{
      position: relative; 
      z-index: 2;
      align-items: center;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 3%;
      padding-top: 3%;
      background-color: #1f392584;
      justify-content: space-between;  
      }
      .nameong{
      color: #fff;
      text-align: center;
      align-content:space-around;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 26px;
      text-align: justify;
    }
    .box-form img{
        width:100%; 
        height:auto;
    }
    .ong-container{
      box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
      justify-content: space-between;
      background-color: #1F3925;
      border-radius: 15px;
      margin: auto;
      padding: 10%;
    }
    .picture img {
      width: 100%;
      
    }
    .nameong p{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-right: 5%;
      }
      .box-form{
      box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
      justify-content: space-between;
      margin: 5%;
      }
    .back-white{
      background-color: #fff;
    }
    .container-image{
      background-image: url('/src/assets/voluntarios.png');
      height: auto; 
      padding-left: 10%;
      padding-top: 9%;
      padding-bottom:9%;
      padding-right: 10%;
      color: #fff;
    }
    
    .menu ul li {
      border-bottom: 1px solid #ccc;
    }
    .green {
      background-color: #1F3925;
      padding-left: 10%;
      padding-top: 9%;
      padding-bottom:9%;
      padding-right: 10%;
    }
    
  .box {
      flex: 1;
      font-size: 22px;  
      color: #fff;
      padding: 20px;
      margin: 30px 30px; 
      background-color: black;
    }
  }